@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 

  :root  {
    --background: 262 100% 95%;
    --foreground: 262 5% 0%;
    --card: 262 50% 90%;
    --card-foreground: 262 5% 10%;
    --popover: 262 100% 95%;
    --popover-foreground: 262 100% 0%;
    --primary: 262 71% 13%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 30% 85%;
    --muted-foreground: 262 5% 35%;
    --accent: 224 30% 80%;
    --accent-foreground: 262 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 50%;
    --input: 262 30% 18%;
    --ring: 262 71% 13%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 262 50% 5%;
    --foreground: 262 5% 90%;
    --card: 262 50% 0%;
    --card-foreground: 262 5% 90%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 71% 13%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 15%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 30% 15%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 18%;
    --input: 262 30% 18%;
    --ring: 262 71% 13%;
    --radius: 0.5rem;
  }
  
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aa98c8;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #000000;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .use-transition {
    transition: all 0.4s ease;
  }
}